@charset "UTF-8";
/* обнуление всех стандартных стилей css (создание чистого листа css) */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.25); /* IE */
  -moz-transform: scale(1.25); /* FF */
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
  padding: 10px;
}

/*---------------------------------------------------------------*/
body {
  background: url("../imgs/background-for-greet-page.png") center right/1800px auto no-repeat, url("../imgs/background-greet-page.png") top/100% auto no-repeat fixed;
}
@media screen and (max-width: 1600px) {
  body {
    background: url("../imgs/background-for-greet-page.png") center right/1500px auto no-repeat, url("../imgs/background-greet-page.png") top/100% no-repeat fixed;
  }
}
@media screen and (max-width: 1500px) {
  body {
    background: url("../imgs/background-for-greet-page.png") bottom right/1000px auto no-repeat, url("../imgs/background-greet-page.png") top/200% no-repeat fixed;
  }
}
@media screen and (max-width: 1055px) {
  body {
    background: url("../imgs/background-for-greet-page.png") bottom right/750px auto no-repeat, url("../imgs/background-greet-page.png") top/200% no-repeat fixed;
  }
}
@media screen and (max-width: 800px) {
  body {
    background: url("../imgs/background-greet-page.png") top no-repeat fixed;
  }
}
@media screen and (max-width: 400px) {
  body {
    background: url("../imgs/background-greet-page.png") top right no-repeat fixed;
  }
}

.wrapper {
  z-index: 10;
  background: rgba(0, 0, 0, 0.336);
  display: grid;
  grid-template: [start] "text" 70% [row-2] [row-2] "buttons" 15% "info" [row-end];
  min-height: 100vh;
}

.text {
  padding: 30px;
  display: flex;
  grid-area: text;
  color: white;
  flex-flow: column wrap;
  font-family: Sans;
}
@media screen and (max-width: 768px) {
  .text {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .text {
    align-items: flex-start;
    text-align: left;
  }
}
.text__title {
  position: relative;
  top: -50px;
  opacity: 0;
  font-weight: 700;
  font-size: 5rem;
  overflow: hidden;
  animation: title-anim 800ms ease 0s 1 alternate forwards;
}
@keyframes title-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .text__title {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 600px) {
  .text__title {
    font-size: 4.25rem;
  }
}
.text__small-text {
  position: relative;
  left: 300px;
  opacity: 0;
  animation: text-anim 1.3s ease 0s 1 alternate forwards;
  padding: 50px 0px;
  width: 40%;
  font-size: 4rem;
}
@keyframes text-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .text__small-text {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .text__small-text {
    width: 80%;
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 370px) {
  .text__small-text {
    width: 100%;
    font-size: 2.15rem;
  }
}

.buttons {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  grid-area: buttons;
}
@media screen and (max-width: 780px) {
  .buttons {
    align-items: center;
  }
}
.buttons__main-button {
  width: 477px;
  height: 115px;
}
@media screen and (max-width: 1025px) {
  .buttons__main-button {
    width: 377px;
    height: 15px;
    padding: 30px 0px;
  }
}
@media screen and (max-width: 450px) {
  .buttons__main-button {
    width: 377px;
    height: 35px;
  }
}
@media screen and (max-width: 395px) {
  .buttons__main-button {
    width: 277px;
    height: 35px;
  }
}
.buttons__main-button button {
  transition: all 300ms ease;
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 3.5rem;
  background: rgba(0, 255, 238, 0.631372549);
  border-radius: 8px;
  box-shadow: 0px 0px 30px rgba(0, 255, 238, 0.631372549);
  width: 100%;
  height: 115px;
}
@media screen and (max-width: 1025px) {
  .buttons__main-button button {
    height: 65px;
  }
}
@media screen and (max-width: 395px) {
  .buttons__main-button button {
    width: 277px;
    height: 85px;
  }
}
.buttons__main-button button:active {
  top: 10px;
}
.buttons__main-button button:hover {
  transform: translateY(-10px);
  box-shadow: 0px 1px 30px rgba(0, 255, 238, 0.631372549);
}
.buttons__second-button {
  padding: 20px 0px;
  width: 477px;
  height: 57px;
}
@media screen and (max-width: 1025px) {
  .buttons__second-button {
    width: 377px;
    height: 35px;
    padding: 40px 0px;
  }
}
@media screen and (max-width: 450px) {
  .buttons__second-button {
    width: 377px;
    height: 35px;
    padding: 100px 0px;
  }
}
@media screen and (max-width: 395px) {
  .buttons__second-button {
    width: 277px;
    height: 35px;
    padding: 60px 0px;
  }
}
.buttons__second-button button {
  transition: all 300ms ease;
  transform: translateX(100%);
  font-size: 1.5rem;
  opacity: 0;
  border-radius: 10px;
  color: white;
  background: black;
  box-shadow: 0px 0px 20px rgba(0, 255, 238, 0.568627451);
  width: 100%;
  height: 47px;
  animation: button-anim 1s ease 0s 1 alternate forwards;
}
@keyframes button-anim {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@media screen and (max-width: 395px) {
  .buttons__second-button button {
    width: 277px;
    height: 35px;
  }
}
.buttons__second-button:hover ~ .buttons__information {
  display: block;
}

.information {
  position: relative;
  grid-area: info;
  display: none;
  transform: translateY(-560px);
}
.information__container {
  transition: all 300ms ease;
  background: rgba(0, 0, 0, 0.445);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 400px;
  left: 20%;
  position: absolute;
  padding: 30px;
}
@media screen and (max-width: 1280px) {
  .information__container {
    left: 300px;
    top: -100px;
  }
}
@media (max-width: 780px) {
  .information__container {
    background: rgba(0, 0, 0, 0.801);
    text-align: center;
    left: -200px;
    top: -200px;
  }
}
@media (max-width: 550px) {
  .information__container {
    left: -150px;
    top: -100px;
    width: 300px;
  }
}
@media (max-width: 430px) {
  .information__container {
    left: -150px;
    top: -150px;
    width: 300px;
  }
}
@media (max-width: 390px) {
  .information__container {
    left: -125px;
    top: -80px;
    width: 250px;
  }
}
.information__title {
  font-size: 2rem;
  padding: 30px 0px;
  text-align: center;
  color: white;
}
.information__text {
  font-size: 1.3rem;
  color: white;
  line-height: 25px;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .information__text {
    line-height: 25px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1025px) {
  .information__text {
    line-height: 20px;
    font-size: 1rem;
  }
}
@media (max-width: 780px) {
  .information__text {
    line-height: 20px;
    font-size: 1rem;
  }
}
@media (max-width: 770px) {
  .information__text {
    line-height: 25px;
    font-size: 1.4rem;
  }
}
@media (max-width: 550px) {
  .information__text {
    font-size: 1rem;
    line-height: 20px;
  }
}
@media (max-width: 390px) {
  .information__text {
    line-height: 15px;
    font-size: 0.9rem;
    width: 100%;
  }
}
.information .text-1 {
  padding: 10px;
}
.information .text-2 {
  padding: 10px;
}
.information .text-3 {
  padding: 10px;
}
.information .text-4 {
  padding: 10px;
}