{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/greet-page.min.css' %}">
    <title>Сплюшка</title>
</head>
<body>
    <div class="wrapper">
        <div class="text">
            <div class="text__title">
                Сплюшка
            </div>
            <div class="text__small-text">
                самое комфортное место на земле
            </div>
        </div>
        <div class="buttons">
            <div class="buttons__main-button">
                <button>Начать</button>
            </div>
            <div class="buttons__second-button">
                <button>Подробнее о нас</button>
            </div>
            <div class="buttons__information information">
                <div class="information__container">
                    <div class="information__title">
                        О "Сплюшке"
                    </div>
                    <div class="information__text text-1">
                        Это блог-форум, созданный небольшой командой энтузиастов. Некоммерческий проект.
                    </div>
                    <div class="information__text text-2">
                        Никто из нас не имеет психологического образования и не оказывает профессиональных консультации, но каждый участник нашей команды убеждён: простой разговор по душам - лучший помощник в эмоциональной разрядке.
                    </div>
                    <div class="information__text text-3">
                        К сожалению, в наше время среди прохожих редко найдётся тот, кто выслушает и протянет руку помощи. Потому, может быть, именно наша платформа станет для Вас тем самым местом. Местом, где Вы будете чувствовать долгожданные покой и умиротворение.
                    </div>
                    <div class="information__text text-4">
                        C уважением, команда "Сплюшки".
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>