<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block css %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="menu__title">
            </div>
            <div class="menu__buttons">
            </div>
        </nav>
    </header>
    <main class="content-on-pages">
        {% block content %}
        {% endblock%}
    </main>
    <footer>
        
    </footer>
</body>
</html>